ul {
  list-style-type: none;
}
//
nav {
  //display: flex;
  //flex-direction: column;
  //height: 100%;
  //position: fixed;
  overflow-y: auto;
  background-color: #282c34;
}

li {
  color: beige;
}
//
//.item {
//  padding: 10px 20px;
//
//  &:hover {
//    background-color: darkgrey;
//  }
//}
//
//
