.container {
  display: inline-flex;
  background-color: lightgreen;
  border-radius: 3em;
  padding: 5px 5px 5px 15px;
  margin: 5px;
}

.tag {
  margin-bottom: 5px;
}

.btn {
  border: none;
  background-color: transparent;
}

.text {
  font-size: 1.25em;
}
